<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layouts/header', { title: 'G2 Test Registration' }) %>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <%- include('layouts/nav', { user: user }) %>
    <header class="masthead" style="background-image: url('/img/login-bg.jpg')">
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="site-heading">
              <h1>G2 Test Registration</h1>
              <span class="subheading">Complete your G2 registration</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <p>Fill out the form below to register for your G2 Test.</p>
          <% if (error) { %>
            <p class="text-danger"><%= error %></p>
          <% } %>
          <div class="my-5">
            <form action="/g2/save" method="POST" class="form-container side-by-side">
              <input type="hidden" name="userId" value="<%= user._id %>">
              <fieldset>
                <legend>Personal Information</legend>
                <div class="form-floating">
                  <input class="form-control" id="firstName" name="firstName" type="text" 
                    required value="<%= user.firstname !== 'default' ? user.firstname : '' %>" placeholder=" ">
                  <label for="firstName">First Name</label>
                </div>
                <div class="form-floating">
                  <input class="form-control" id="lastName" name="lastName" type="text" 
                    required value="<%= user.lastname !== 'default' ? user.lastname : '' %>" placeholder=" ">
                  <label for="lastName">Last Name</label>
                </div>
                <div class="form-floating">
                  <input class="form-control" id="licenseNumber" name="licenseNumber" type="text" 
                    required value="<%= user.licenseNumber !== 'default' ? user.licenseNumber : '' %>" placeholder=" ">
                  <label for="licenseNumber">License Number</label>
                  <small class="form-text text-muted">Must be 8 alphanumeric characters.</small>
                </div>
                <div class="form-floating">
                  <input class="form-control" id="age" name="age" type="number" 
                    required min="18" value="<%= user.Age !== 0 ? user.Age : '' %>" placeholder=" ">
                  <label for="age">Age</label>
                </div>
              </fieldset>
              <fieldset>
                <legend>Car Details</legend>
                <div class="form-floating">
                  <input class="form-control" id="carMake" name="carMake" type="text" 
                    required value="<%= user.car_details.make !== 'default' ? user.car_details.make : '' %>" placeholder=" ">
                  <label for="carMake">Car Make</label>
                </div>
                <div class="form-floating">
                  <input class="form-control" id="carModel" name="carModel" type="text" 
                    required value="<%= user.car_details.model !== 'default' ? user.car_details.model : '' %>" placeholder=" ">
                  <label for="carModel">Car Model</label>
                </div>
                <div class="form-floating">
                  <input class="form-control" id="carYear" name="carYear" type="number" 
                    required value="<%= user.car_details.year !== 0 ? user.car_details.year : '' %>" placeholder=" ">
                  <label for="carYear">Car Year</label>
                </div>
                <div class="form-floating">
                  <input class="form-control" id="carPlate" name="carPlate" type="text" 
                    required value="<%= user.car_details.platno !== 'default' ? user.car_details.platno : '' %>" placeholder=" ">
                  <label for="carPlate">Car Plate Number</label>
                </div>
              </fieldset>
              <button class="btn btn-primary text-uppercase mt-2" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <%- include('layouts/footer') %>
    <%- include('layouts/scripts') %>
  </body>
</html>